name: CI
on:
  - pull_request
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v3
      - run: uv python install
      - run: make dev
      - run: make lint
      - run: make fmt

  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v3
      - run: uv python install ${{ matrix.python-version }}
      - run: make dev
      - run: make test

  integration-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        CONNECT_VERSION:
          - preview
          - 2024.11.0
          - 2024.09.0
          - 2024.08.0
          - 2024.06.0
          - 2024.05.0
          - 2024.04.1
          - 2024.04.0
          - 2024.03.0
          - 2024.02.0
          - 2024.01.0
          - 2023.12.0
          - 2023.10.0
          - 2023.09.0
          - 2023.07.0
          - 2023.06.0
          - 2023.05.0
          - 2023.01.1
          - 2023.01.0
          - 2022.12.0
          - 2022.11.0
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - name: Write Posit Connect license to disk
        run: echo "$CONNECT_LICENSE" > ./integration/license.lic
        env:
          CONNECT_LICENSE: ${{ secrets.CONNECT_LICENSE }}
      - uses: astral-sh/setup-uv@v3
      - run: uv python install
      - run: make -C ./integration ${{ matrix.CONNECT_VERSION }}
      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: ${{ matrix.CONNECT_VERSION }} - Integration Test Report
          path: integration/reports/*.xml

  integration-test-report:
    needs: integration-test
    runs-on: ubuntu-latest
    permissions:
      checks: write
      pull-requests: write
    if: always()
    steps:
      - uses: actions/download-artifact@v4
        with:
          path: artifacts
      - uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          check_name: integration-test-results
          comment_mode: off
          files: "artifacts/**/*.xml"
          report_individual_runs: true

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v3
      - run: uv python install
      - run: make dev
      - run: make build
